# Today's Agenda
- List
> ### What is List?
> ### Different ways of creating List?
> ### What is list indexing?
> ### What are the built-in functions availble in List!
- Tuple
> ### What is Tuple?
> ### Different ways of creating Tuple?
> ### What is Tuple indexing?
> ### What are the built-in functions availble in Tuple!
-------------------------------------------------------------
> ### what is main Difference between List and Tuple
> ### Where should we use what?

### Collections are ways to store and collect multiple items in python. There are four main collections in python, they are:

- lists
- tuples
- sets
- dictionaries

# List
- `Lists`are collections in python which are defined using `[]` and collect various elements inside it(the elements are separated from each other by `,`)
- Lists are ordered, indexable and mutable
- Lists allow duplicate values

# Defining List

In [2]:
# defining a list which has no elements in it
li = []
print(li)
print(type(li))
print(len(li))

[]
<class 'list'>
0

In [3]:
# defining a list with a single element in it
li = [False]
print(li)
print(len(li))

[False]
1

In [4]:
# defining a list which has multiple elements of the same type
li = [1,5,3,1,2,4,2,5,3,6,2]
print(li)
print(len(li))

[1, 5, 3, 1, 2, 4, 2, 5, 3, 6, 2]
11

In [5]:
# defining a list which has multiple elements of different types
ll = [7,1.732,'Hi',[1,2,3,4],True]
print(ll)
print(len(ll))

[7, 1.732, 'Hi', [1, 2, 3, 4], True]
5

In [6]:
list3 = list(["red", "green", "blue"]) # Create a list with strings
list3

['red', 'green', 'blue']

In [7]:
list4 = list(range(3, 6)) # Create a list with elements 3, 4, 5
list4

[3, 4, 5]

In [8]:
list5 = list("abcd") # Create a list with characters a, b, c, d
list5

['a', 'b', 'c', 'd']

## 2. List as sequence type
- Strings and lists are sequence types in Python. A string is a sequence of characters, while a list is a sequence of any elements.

### Indexing a list

In [9]:
li = [1,2,3,4,5,6,7,8,9]

In [10]:
li[0]

1

In [11]:
li[-2]

8

In [12]:
li[:5:2]

[1, 3, 5]

In [13]:
li[3::3]

[4, 7]

In [14]:
# reversing a list
li[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# access 3 from the list ll
ll[3:4][0][3]

4

In [16]:
ll[3]

[1, 2, 3, 4]

# Built-in Functions

### Adding values to a list

### 1. append()
- `append()` is used to add a single element to the end of the list

In [19]:
# add the value, 7, to the end of the list
print('List before appending',li)
li.append(7)
print('List after appending',li)
print(len(li))

List before appending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7]
List after appending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7]
12

In [22]:
# add the value, 7, to the end of the list
print('List before appending',li)
li.append([100,200,300])
print('List after appending',li)
print(len(li))

List before appending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 8, 9]
List after appending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 8, 9, [100, 200, 300]]
16

# 2. extend()
- `extend()` is used to extend our current list with another list

In [21]:
ll = [8,9]
print('List before extending',li)
li.extend(ll)
print('List after extending',li)
print(len(li))

List before extending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7]
List after extending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 8, 9]
15

In [23]:
ll = [8,9]
print('List before extending',li)
li.extend([100,200,300])
print('List after extending',li)
print(len(li))

List before extending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 8, 9, [100, 200, 300]]
List after extending [1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 7, 7, 7, 8, 9, [100, 200, 300], 100, 200, 300]
19

**Note: One list can be extended with the other by concatenating**

In [24]:
# ANother way to add the elements
[1,2,3,4,5,6,7] + [8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Changing values in a list
- Changing values in a list is pretty staright-forward. Index the value you're trying to change and reassign it with the replacement

In [25]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# change the value 5 to 55
print('The value at the 4th index before replacement',li[4])
li[4] = 55
print('The value at the 4th index after replacement',li[4])

The value at the 4th index before replacement 5
The value at the 4th index after replacement 55

In [27]:
li

[1, 2, 3, 4, 55, 6, 7, 8, 9]

### Removing values from the list
## pop()
- `pop()` is used to remove a value in the list, based on its index position. If no index is mentioned, pop() removes the last value

In [28]:
li

[1, 2, 3, 4, 55, 6, 7, 8, 9]

In [29]:
# to remove the last value from the list
print('List before removing the value',li)
pop = li.pop()
print('Popped value',pop)
print('List after removing the value',li)

List before removing the value [1, 2, 3, 4, 55, 6, 7, 8, 9]
Popped value 9
List after removing the value [1, 2, 3, 4, 55, 6, 7, 8]

In [30]:
# to remove 55 from the list
print('List before removing the value',li)
pop = li.pop(4)
print('Popped value',pop)
print('List after removing the value',li)

List before removing the value [1, 2, 3, 4, 55, 6, 7, 8]
Popped value 55
List after removing the value [1, 2, 3, 4, 6, 7, 8]

### remove()
- remove() is used to remove a value from the list if the value is known but not its index

In [31]:
# removing 6 from the list
print('List before removing the value',li)
li.remove(6)
print('List after removing the value',li)

List before removing the value [1, 2, 3, 4, 6, 7, 8]
List after removing the value [1, 2, 3, 4, 7, 8]

**Note: The pop() method is used to remove values from a list when their index positions are known and remove() is used when their face values are known**

### del
- We can also remove values from a list based on their index positions using the del keyword

In [32]:
# remove the value which has an index 4
print('List before removing the value',li)
del li[4]
print('List after removing the value',li)

List before removing the value [1, 2, 3, 4, 7, 8]
List after removing the value [1, 2, 3, 4, 8]

In [33]:
# remove the value which has an index 4
print('List before removing the value',li)
del li
print('List after removing the value',li)

List before removing the value [1, 2, 3, 4, 8]

NameError: name 'li' is not defined

**Note: del keyword can permanently delete the instance of any datatype and we should exercise caution when using the del keyword**

## Some  more list methods

#### If we want to preserve our existing list the below assignment is not correct since it just creates new list which shares the memory hence modification on one list will directly impact the other list

In [44]:
l1 = [1,2,3,4]
l2 = l1

In [45]:
l2[3]=500
print(l1)
print(l2)

[1, 2, 3, 500]
[1, 2, 3, 500]

In [34]:
li = [3,1,4,2,1,3,5,4,2,3,1]
li

[3, 1, 4, 2, 1, 3, 5, 4, 2, 3, 1]

### For preserving the list we need to use copy library which has methods like copy and deep copy which will preserve the original lists

In [46]:
import copy
list1 = [1,2,3,4]
list2 = copy.copy(list1)
list2[3]=500
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 500]

### copy()

In [35]:
# to create one more instance of a list
ll = li.copy()
ll

[3, 1, 4, 2, 1, 3, 5, 4, 2, 3, 1]

### deepcopy()

In [47]:
list1 = [1,2,3,4,[17,18]]
list2 = copy.copy(list1)
list2[2]=500
print(list1)
print(list2)

[1, 2, 3, 4, [17, 18]]
[1, 2, 500, 4, [17, 18]]

In [48]:
list1 = [1,2,3,4,[17,18]]
list2 = copy.copy(list1)
list2[4][0]=500
print(list1)
print(list2)

[1, 2, 3, 4, [500, 18]]
[1, 2, 3, 4, [500, 18]]

In [49]:
list1 = [1,2,3,4,[17,18]]
list2 = copy.deepcopy(list1)
list2[4][0]=500
print(list1)
print(list2)

[1, 2, 3, 4, [17, 18]]
[1, 2, 3, 4, [500, 18]]

### clear()

In [36]:
# to empty a list of its contents
ll.clear()
ll

[]

### count()
- to look at the number of occurences of an element in the list

In [37]:
li.count(3)

3

In [38]:
li.count(5)

1

### index()
- to look at the index position of the first occurence of an element

In [39]:
li.index(3)

0

In [40]:
li.index(5)

6

### reverse()

In [41]:
# to reverse a list
print(li)
li.reverse()
print(li)

[3, 1, 4, 2, 1, 3, 5, 4, 2, 3, 1]
[1, 3, 2, 4, 5, 3, 1, 2, 4, 1, 3]

### sort()

In [42]:
# to sort a list in an ascending order
print(li)
li.sort()
print(li)

[1, 3, 2, 4, 5, 3, 1, 2, 4, 1, 3]
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [43]:
# to sort a list in a descending order
print(li)
li.sort(reverse=True)
print(li)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
[5, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1]

### insert()

In [51]:
li.insert(1,10000)

In [52]:
li

[5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1]

In [50]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [53]:
help(li.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

# Tuple
- Collection which can be indexed but immutable, (apple, 250)
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

### tuple declaration

In [54]:
a = (1,4,5)
print(a)
print(type(a))

(1, 4, 5)
<class 'tuple'>

In [55]:
a = (1)
print(a)
print(type(a))

1
<class 'int'>

### How to add elements in tuple?

In [56]:
a = ("a","b")
b = ("c","d")

t1 = a + b

In [57]:
print(t1)

('a', 'b', 'c', 'd')

In [58]:
a = (1,2,3,4,5,6,7,8,9)

t1 = a[:5] + (600,) + a[7:]

In [59]:
print(t1)

(1, 2, 3, 4, 5, 600, 8, 9)

In [60]:
a = [("Sara",45),("Milan",15)]
a[0][0]

'Sara'

In [61]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "adarsh", "data science", ["python","java"]),
    (3, "shashank", "data science", ["C","C++"])
]
students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'adarsh', 'data science', ['python', 'java']),
 (3, 'shashank', 'data science', ['C', 'C++'])]

### packing and unpacking

In [63]:
a = 10 
b = 20

t1 = (a, b)
print(t1)

(10, 20)

In [64]:
x, y = t1

In [65]:
print(x)
print(y)

10
20

In [66]:
a = (11,23,45)
print(len(a))
print(sum(a))
print(min(a))
print(max(a))

3
79
11
45

# tuple indexing
- we can apply all the list indexing steps on the tuples

In [68]:
li = (5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)
li

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [69]:
li[0]

5

In [70]:
li[:]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [71]:
li[0:]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [72]:
li[:-1]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1)

In [73]:
li[::-1]

(1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 10000, 5)

In [28]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "adarsh", "data science", ["python","java"]),
    (3, "shashank", "data science", ["C","C++"])
]
students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'adarsh', 'data science', ['python', 'java']),
 (3, 'shashank', 'data science', ['C', 'C++'])]

In [37]:
students[1][2:]

('data science', ['python', 'java'])

In [47]:
l = (2,5,7,9,1,7,44,66,15,23,30,12)

In [57]:
for j in range(2000, 3201):
    if (j % 7 == 0) & (j % 5 != 0):
        print(j)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [ ]:
257917446615233012

In [56]:
for i in l:
    print(i, end='')

257917446615233012

In [59]:
2807 % 5

2

### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

### Write a python function and perform the following conditional actions:
Take any number as Input and,
  If number is odd, print "Odd Number",
  If number is even and in the range of 2 to 9, print "Units Even",
  If number is even and in the range of 10 to 21, print "Tens Even",
  If number is even and greater than 22, print "Even Number"

In [60]:
n = input("please enter a number: ")

please enter a number: 8

In [61]:
n

'8'

In [62]:
if (n % 2 != 0):
    print('odd number')
elif (n % 2 == 0) & (2 >= n <= 9):
    print('Units even')

TypeError: not all arguments converted during string formatting