In [1]:
t = (2,4,5,8,10,4)

In [2]:
t[3] = 19

TypeError: 'tuple' object does not support item assignment

In [3]:
T = (2,4,5,8,'s',10,4)

In [4]:
print(t)

(2, 4, 5, 8, 10, 4)

In [5]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
# converting str data type to tuple

In [6]:
t2 = tuple('string')

In [7]:
print(t2)

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
t[2: :]

(5, 8, 10, 4)

In [11]:
t[ :]

(2, 4, 5, 8, 10, 4)

In [14]:
# we can delete the whole t tuple by del t

In [12]:
del t

In [13]:
print(t)

NameError: name 't' is not defined

In [15]:
# tuple assigment

In [23]:
# tuplepacking
t = ('Kush','hyd',9902837372,'Telangana')

In [29]:
# tuple unpacking
(name,city,mobile,state) = t

In [26]:
print(name)

Kush

In [27]:
print(city)

hyd

In [28]:
(name,city,mobile,state,country) = t

ValueError: not enough values to unpack (expected 5, got 4)

In [30]:
print(mobile)

9902837372

In [31]:
print(state)

Telangana

In [34]:
# list of tuples
# homogeneous
students = [(1, "kush", "datascience", ["python","c"]),
           (2, "sam", "datascience", ["python","java"]),
           (3,"sandhya", "datascience",["c","c++"]) ]
students

[(1, 'kush', 'datascience', ['python', 'c']),
 (2, 'sam', 'datascience', ['python', 'java']),
 (3, 'sandhya', 'datascience', ['c', 'c++'])]

In [35]:
students[1]

(2, 'sam', 'datascience', ['python', 'java'])

In [37]:
# 2nd level slicing
students[1][3]

['python', 'java']

In [38]:
students[2][1]

'sandhya'

In [39]:
students[2][3]

['c', 'c++']

In [40]:
# 3rd level slicing
students[2][3][1]

'c++'

In [46]:
student = [(1, "kush", "data science", ["python","c"])]
student

[(1, 'kush', 'data science', ['python', 'c'])]

In [47]:
student[0]

(1, 'kush', 'data science', ['python', 'c'])

In [48]:
student[0][2]

'data science'

In [50]:
student[0][2][5:]

'science'

In [51]:
student[0][3]

['python', 'c']

In [52]:
student[0][3][0]

'python'

In [53]:
# 4th level slicing
student[0][3][0][:2]

'py'

In [54]:
students[1][3][1]

'java'

In [56]:
students[2][2][7:]

'ence'

In [58]:
students[0][1][:3]

'kus'

In [60]:
students[0][1:3]

('kush', 'datascience')

In [61]:
students[1][2:]

('datascience', ['python', 'java'])

In [62]:
t1 = (2,5,7,9,1,7,44,66)

In [69]:
# if even add 1 or odd sub 1
for i in t1:
    if(i%2==0):
        print("even number:",i+1)
    else:
        print("odd number:",i-1)

even number: 3
odd number: 4
odd number: 6
odd number: 8
odd number: 0
odd number: 6
even number: 45
even number: 67

In [71]:
t2 = (2,5,7,9,1,7,44,66,15,23,30,12)

In [72]:
# get me the multiples of 3
for i in t2:
    if(i%3==0):
        print(i)

9
66
15
30
12

In [78]:
# get me the multiples of 3 and 5
for i in t2:
    if(i%5==0) & (i%3==0):
        print(i)

15
30

In [120]:
# get me the multiples of 3 or 5
for i in t2:
    if(i%5==0) | (i%3==0):
        print(i)

5
9
66
15
30
12

In [82]:
# get all numbers of t2 as single number
for i in t2:
    print(i,end="")

257917446615233012

In [84]:
# write a pgm which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200(both included)
for i in range(2000,3201):
    if(i%7==0)&(i%5!=0):
     print(i,end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [85]:
# pgm and perform following conditions
# take any number as input and,
#  if number is odd,print "odd number";
# if even in the range of 2 to 9,print "units even"
# if num is even and in the range of 10 to 21,print "tens even"
# even and greater than 22,print "even number"

In [128]:
n = int(input("enter a value:"))

enter a value:5

In [129]:
n

5

In [10]:
n = int(input("enter a value:"))
if( n%2 != 0):
    print("odd number")
elif(n%2==0)&(2<=n<=9):
    print("units even")
elif(n%2==0)&(10<=n<=21):
    print("tens even")
else:
    print("even number")

enter a value:66
even number