In [1]:
students = {"111":"pradeep","222":"kumar"}
students

{'111': 'pradeep', '222': 'kumar'}

In [2]:
len(students)

2

In [3]:
students["111"]

'pradeep'

In [4]:
students["222"]

'kumar'

In [16]:
details = {"name":"kush","age":21,"city":"hyderabad","college":"st.peter's","qualification":"btech","idno":18,"branch":"cse","mobile":6304843235}

In [17]:
details

{'name': 'kush',
 'age': 21,
 'city': 'hyderabad',
 'college': "st.peter's",
 'qualification': 'btech',
 'idno': 18,
 'branch': 'cse',
 'mobile': 6304843235}

In [9]:
details["branch"]

'cse'

In [18]:
# changing the values
details["branch"] = "ECE"
details

{'name': 'kush',
 'age': 21,
 'city': 'hyderabad',
 'college': "st.peter's",
 'qualification': 'btech',
 'idno': 18,
 'branch': 'ECE',
 'mobile': 6304843235}

In [21]:
# adding a new value
details["state"]="telangana"
details["country"]="India"

In [22]:
details

{'name': 'kush',
 'age': 21,
 'city': 'hyderabad',
 'college': "st.peter's",
 'qualification': 'btech',
 'idno': 18,
 'branch': 'ECE',
 'mobile': 6304843235,
 'state': 'telangana',
 'country': 'India'}

In [23]:
# value not present in dict
details["88"]

KeyError: '88'

In [24]:
# to avoid key error we use get() fn syntax: dictionary.get(key)
details.get("88")

In [25]:
details.get("age")

21

In [26]:
# used to get all the keys at a time
details.keys()

dict_keys(['name', 'age', 'city', 'college', 'qualification', 'idno', 'branch', 'mobile', 'state', 'country'])

In [29]:
# used to get all the value at a time
details.values()

dict_values(['kush', 21, 'hyderabad', "st.peter's", 'btech', 18, 'ECE', 6304843235, 'telangana', 'India'])

In [27]:
# to get type of date
type(details.keys())

dict_keys

In [31]:
# to convert into list
A = list(details.keys())
A

['name',
 'age',
 'city',
 'college',
 'qualification',
 'idno',
 'branch',
 'mobile',
 'state',
 'country']

In [42]:
# with the help of keys get the values from dictionaries
for i in A:
    print("for key "+i+ " value is "+str(details[i]))

for key name value is kush
for key age value is 21
for key city value is hyderabad
for key college value is st.peter's
for key qualification value is btech
for key idno value is 18
for key branch value is ECE
for key mobile value is 6304843235
for key state value is telangana
for key country value is India

In [43]:
# get me all the items from dict
# we get tuples of key and value pair
details.items()

dict_items([('name', 'kush'), ('age', 21), ('city', 'hyderabad'), ('college', "st.peter's"), ('qualification', 'btech'), ('idno', 18), ('branch', 'ECE'), ('mobile', 6304843235), ('state', 'telangana'), ('country', 'India')])

In [53]:
list(details.items())

[('name', 'kush'),
 ('age', 21),
 ('city', 'hyderabad'),
 ('college', "st.peter's"),
 ('qualification', 'btech'),
 ('idno', 18),
 ('branch', 'ECE'),
 ('mobile', 6304843235),
 ('state', 'telangana'),
 ('country', 'India')]

In [60]:
for i in list(details.items()):
    print(i)

('name', 'kush')
('age', 21)
('city', 'hyderabad')
('college', "st.peter's")
('qualification', 'btech')
('idno', 18)
('branch', 'ECE')
('mobile', 6304843235)
('state', 'telangana')
('country', 'India')

In [61]:
for i in list(details.items()):
    print(i[1])

kush
21
hyderabad
st.peter's
btech
18
ECE
6304843235
telangana
India

In [69]:
for i in list(details.items()):
    print(details[i[0]])

kush
hyderabad
st.peter's
btech
18
ECE
6304843235
telangana
India

In [67]:
details.pop("age")

21

In [68]:
details

{'name': 'kush',
 'city': 'hyderabad',
 'college': "st.peter's",
 'qualification': 'btech',
 'idno': 18,
 'branch': 'ECE',
 'mobile': 6304843235,
 'state': 'telangana',
 'country': 'India'}

In [78]:
details.pop("idno")

18

In [74]:
details.popitem()

('country', 'India')

In [75]:
del details["college"]

In [76]:
details

{'name': 'kush',
 'city': 'hyderabad',
 'qualification': 'btech',
 'idno': 18,
 'branch': 'ECE',
 'mobile': 6304843235}

# create a dictionary and count characters present in each value

In [102]:
bio = {"name":"kush","age":"21","city":"hyderabad","college":"st.peter's","qualification":"btech","idno":"18","branch":"cse","mobile":"6304843235"}

In [103]:
list(bio.items())

[('name', 'kush'),
 ('age', '21'),
 ('city', 'hyderabad'),
 ('college', "st.peter's"),
 ('qualification', 'btech'),
 ('idno', '18'),
 ('branch', 'cse'),
 ('mobile', '6304843235')]

In [113]:
for i in list(bio.values()):
    print("for value "+i+" length is "+str(len(i)))

for value kush length is 4
for value 21 length is 2
for value hyderabad length is 9
for value st.peter's length is 10
for value btech length is 5
for value 18 length is 2
for value cse length is 3
for value 6304843235 length is 10

In [115]:
"name" in bio.keys()

True

In [116]:
"name" not in bio.keys()

False

In [118]:
d = {"A":1,"B":2,"C":4,"D":5,"E":6,"F":7,"G":8,"H":9,"I":10}
d

{'A': 1, 'B': 2, 'C': 4, 'D': 5, 'E': 6, 'F': 7, 'G': 8, 'H': 9, 'I': 10}

In [120]:
d["E"]=25
d

{'A': 1, 'B': 2, 'C': 4, 'D': 5, 'E': 25, 'F': 7, 'G': 8, 'H': 9, 'I': 10}

In [121]:
d["J"]=11
d

{'A': 1,
 'B': 2,
 'C': 4,
 'D': 5,
 'E': 25,
 'F': 7,
 'G': 8,
 'H': 9,
 'I': 10,
 'J': 11}

In [125]:
sum = 0
for i in list(d.values()):
    sum = sum + i
print(sum)

82