In [1]:
l=[20,40,60,80,50]

In [8]:
for i in l:
    print(i+2)

22
42
62
82
52

In [6]:
for i in l:
    print(i+2)
for i in l:
    print(i+3)

22
42
62
82
52
23
43
63
83
53

In [11]:
for i in l:
    print(i+2,end=" ")

22 42 62 82 52

In [12]:
l=[20,33,60,80,90]

In [17]:
for i in l:
    if(i < 36):
      print("fail")
    else:
      print("pass")

fail
fail
pass
pass
pass

In [21]:
m=0
for i in l:
    if(m < i):
        m = i
print(m)

90

In [22]:
L=[20,99,33,33,60,80,90]
m=0
for i in L:
    m = m + i
print(m)

415

In [23]:
m=0
for i in L:
    if(m < i):
        m = i
print(m)

99

In [29]:
for i in range(1,101):  
    if( i % 2 == 1):                 
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [31]:
sum=0
for i in range(0,51):
    sum = sum + i
print(sum)

1275

In [37]:
number = int(input ("Enter the number : "))      
for i in range(1, 11):      
   print (number, '*', i, '=', number * i)

Enter the number : 96
96 * 1 = 96
96 * 2 = 192
96 * 3 = 288
96 * 4 = 384
96 * 5 = 480
96 * 6 = 576
96 * 7 = 672
96 * 8 = 768
96 * 9 = 864
96 * 10 = 960

In [38]:
n = 4
for i in range(n,(n*10)+1,n):
    print(i)

4
8
12
16
20
24
28
32
36
40