In [2]:
n = 1
while (n < 10):
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9

In [3]:
n = 10
while (n < 10):
    print(n)
    n = n + 1

In [13]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [14]:
x = 20
y = 10
while (x > y):
    print("greater than x")
    y = y + 1
    print(y)

greater than x
11
greater than x
12
greater than x
13
greater than x
14
greater than x
15
greater than x
16
greater than x
17
greater than x
18
greater than x
19
greater than x
20

In [18]:
n = int(input("enter a value: "))
if(n % 2 == 0):
    pass
else:
    print("number is odd")

enter a value: 4

In [21]:
x = 20
y = 10
while(x > y):
    print("greater than x ")
    break

greater than x

In [27]:
x = 0
while x < 10:
    x = x + 1
    if x==5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [31]:
# nested if else
n = input("please enter a num:")
n = int(n)
if(n % 2 == 0):
    if(n > 1) & (n < 10):
        print("units even")
    elif(n>=10)&(n<21):
        print("tens even")
    else:
        print("even number")
else:
    print("odd number")

please enter a num:56
even number

In [37]:
l = [22,7,5,6,8,15,16,18]
d = {}
for n in l:
    if(n % 2 == 0):
        if(n > 1) & (n < 10):
            d[n] = "units even"
        elif(n>=10)&(n<21):
            d[n] = "tens even"     
        else:
            d[n] = "greater than 20"
    
    else:
        d[n] = "odd number"
print(d)

{22: 'greater than 20', 7: 'odd number', 5: 'odd number', 6: 'units even', 8: 'units even', 15: 'odd number', 16: 'tens even', 18: 'tens even'}

In [51]:
marks = [37,65,72,89,93,98,23,16,80,82]
l = []
for n in marks:
    if(n > 35):
        if(n > 35)&(n<50):
            t = (n,"third class")
            l.append(t)
        elif(n > 51)&(n<75):
            t = (n,"second class")
            l.append(t)    
        else:
            t = (n,"first class")
            l.append(t) 
    else:
        t = (n,"fail")
        l.append(t)   
print(l)

[(37, 'third class'), (65, 'second class'), (72, 'second class'), (89, 'first class'), (93, 'first class'), (98, 'first class'), (23, 'fail'), (16, 'fail'), (80, 'first class'), (82, 'first class')]