# USER DEFINED FUNCTIONS

## 1.Functions without parameter

In [7]:
# global variable
z = 30

In [12]:
def summation():
#     local variable
    x = 10
    y = 20
    print(x + y)

In [13]:
summation()

30

In [6]:
print(x)

NameError: name 'x' is not defined

In [3]:
# global variable
z = 30

In [15]:
def summation():
    x = 10
    y = 20
    print(x + y + z)

In [16]:
summation()

60

In [17]:
def summation():
    x = 10
    y = 20
    A = x + y + z
    print(A)

In [19]:
summation()

60

In [20]:
A

NameError: name 'A' is not defined

In [16]:
# fns without parameters
def summation():
    x = 10
    y = 20
    A = x + y + z
    print(A)

In [17]:
summation()

60

In [25]:
A

60

In [30]:
# fns with parameters

def summation(x, y, z):
    print(x + y + z)

In [31]:
summation(10, 20, 30)

60

In [33]:
# code reusability
summation(40, 50, 90)

180

In [3]:
num = [2,45,7,8,90,34]

In [4]:
def even(z):
    for i in z:
        if i % 2 == 0:
            print(i)

In [5]:
even(num)

2
8
90
34

In [44]:
l = [1,25,1,2,26,3,2,25,9,26,9]

In [50]:
def unique(a):
        s = set(l)
        print(list(s))

In [51]:
unique(l)

[1, 2, 3, 9, 25, 26]

In [ ]:
name
age
city
state
college
branch
mobile

In [69]:
name = input("enter name :")
age = str(input(" age  :"))
city = input("city: ")
state = input("state: ")
college = input("college: ")
branch = input(" branch")
mobile = input("phn no")

enter name :kush
 age  :21
city: hyd
state: ts
college: st.peters
 branchbtech cse
phn no6304845363

In [70]:
def paragraph(a,b,c,d,e,f,g):
    print("my name is "+name +" I am " +age+ "years old" +"I am from "+ city+",which is in " + state +" I studied in a "+ college+" ,in a course called " + branch +" My mobile number is "+ mobile)

In [71]:
paragraph(name,age,city,state,college,branch,mobile)

my name is kush I am 21years oldI am from hyd,which is in ts I studied in a st.peters ,in a course called btech cse My mobile number is 6304845363

In [82]:
marks = [89,93,12,35,42,67,91,50]
names = ['X','Y','Z','A','B','C','D','E']

In [127]:
d = {}
def dictionary(a,b):
    for i,j in zip(a,b):
        d[i] = j
    return d

In [128]:
dictionary(names,marks)

{'X': 89, 'Y': 93, 'Z': 12, 'A': 35, 'B': 42, 'C': 67, 'D': 91, 'E': 50}

# #  2. Functions with Parameter

In [7]:
def summation(x,y):
    print(x+y)

In [8]:
summation(9,18)

27

In [9]:
summation(10,100)

110

# 3. Functions with n no. of parameters

In [10]:
def numbers(* t):
    print(list(t))

In [11]:
numbers(1,2,3,5,45,25)

[1, 2, 3, 5, 45, 25]

# 4. Functions with n no. of keyword arguments

In [12]:
def numbers2(** z):
    print(z)

In [15]:
numbers2(a= 1,b= 2)

{'a': 1, 'b': 2}