In [2]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)

In [3]:
student()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'branch'

In [5]:
student("kushmitha","CSE")

name: kushmitha
branch: CSE

In [6]:
S = student("kushmitha","CSE")

name: kushmitha
branch: CSE

In [7]:
S.college

'JNTU'

In [9]:
S.n

'kushmitha'

In [10]:
S.b

'CSE'

In [11]:
S1 = student("sam","ece")

name: sam
branch: ece

In [12]:
S1.n

'sam'

In [13]:
S1.college

'JNTU'

In [14]:
S1.b

'ece'

In [16]:
S1.country

'India'

In [17]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)
    def register(self):
        sub_name = self.n[:3]
        sub_branch = self.b[0] + self.b[-1]
        return sub_branch + sub_name

In [19]:
S3 = student("kushmitha","CSE")

name: kushmitha
branch: CSE

In [20]:
S3.register()

'CEkus'

In [22]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)
    def register(self):
        sub_name = self.n[:3]
        sub_branch = self.b[0] + self.b[-1]
        return sub_branch + sub_name
    def project_expo_register(self):
        print("unique id:",self.register())
        if self.register()[0] == "E":
            return True
        else:
            return False

In [23]:
A = student("kushmitha","CSE")

name: kushmitha
branch: CSE

In [24]:
A.project_expo_register()

unique id: CEkus

False

In [25]:
B = student("kushmitha","EEE")

name: kushmitha
branch: EEE

In [26]:
B.project_expo_register()

unique id: EEkus

True

In [7]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)
    def register(self):
        sub_name = self.n[:3]
        sub_branch = self.b[0] + self.b[-1]
        return sub_branch + sub_name
    def project_expo_register(self):
        print("unique id:",self.register())
        if self.register()[0] == "E":
            return True
        else:
            return False
    def sports_comp(self):
        print(self.project_expo_register())
        if self.project_expo_register() == False:
            return True
        else:
            return False

In [8]:
D = student("Kush","MECH")

name: Kush
branch: MECH

In [9]:
D.register()

'MHKus'

In [52]:
D.project_expo_register()

unique id: MHKus

False

In [53]:
D.sports_comp()

unique id: MHKus
False
unique id: MHKus

True

In [48]:
class bankapplication:
    city = "Hyderabad"
    country = "India"
    pincode = "500049"
    IFSC = "SBIN0005943"
    
    def __init__(self,name,age,mobile,aadhar,pan,deposit_amount):
        self.name = name
        self.age = str(age)
        self.m = str(mobile)
        self.aadhar = str(aadhar)
        self.pan = pan
        self.d = deposit_amount
        print("name : ",self.name)
        print("age : ",self.age)
        print("mobile : ",self.m)
        print("aadhar : ",self.aadhar)
        print("pan : ",self.pan)
        print("deposit_amount : ",self.d)
        
    def check_deposit(self):
        if self.d >= 6000:
            return True
        else:
            return False
    
    def registration(self):
        if self.check_deposit() == True:
            sub_name = self.name[:2]
            sub_age = self.age[1]
            sub_mobile = self.m[:2] + self.m[:-3:-1]
            sub_aadhar = self.aadhar[2:7]
            sub_pan = self.pan[:2] + self.pan[:-5:-1]
            unique_id = sub_name + sub_age + sub_mobile + sub_aadhar + sub_pan
            print("unique_id : ",unique_id)
            return True
        else:
            print("deposit 6000 or more than 6000 for registration")

In [49]:
K = bankapplication("kush",21,6304843235,567824365489,"IOKBK8965",6000)

name :  kush
age :  21
mobile :  6304843235
aadhar :  567824365489
pan :  IOKBK8965
deposit_amount :  6000

In [50]:
K.check_deposit()

True

In [51]:
K.registration()

'ku1635378243IO5698'

In [52]:
L = bankapplication("sam",24,9985765477,568974123578,"IOKT5867",5000)

name :  sam
age :  24
mobile :  9985765477
aadhar :  568974123578
pan :  IOKT5867
deposit_amount :  5000

In [53]:
L.registration()

deposit 6000 or more than 6000 for registration

In [9]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)
    def register(self):
        sub_name = self.n[:3]
        sub_branch = self.b[0] + self.b[-1]
        return sub_branch + sub_name + student.college
    def project_expo_register(self):
        print("unique id:",self.register())
        if self.register()[0] == "E":
            return True
        else:
            return False
    def sports_comp(self):
        print(self.project_expo_register())
        if self.project_expo_register() == False:
            return True
        else:
            return False
        
    @staticmethod
    def check_age(age):
        if age > 20:
            return True
        else:
            return False
    @classmethod
    def check_college(cls):
        if(cls.college == "JNTU") & (cls.country == "India"):
            return True
        else:
            return False

In [10]:
S = student("kushmitha","CSE")

name: kushmitha
branch: CSE

In [11]:
S.register()

'CEkusJNTU'

In [12]:
S.check_age(21)

True

In [13]:
S.check_college()

True

In [1]:
class bankapplication:
    city = "Hyderabad"
    country = "India"
    pincode = "500049"
    IFSC = "SBIN0005943"
    
    def __init__(self,name,age,mobile,aadhar,pan,deposit_amount):
        self.name = name
        self.age = str(age)
        self.m = str(mobile)
        self.aadhar = str(aadhar)
        self.pan = pan
        self.d = deposit_amount
        print("name : ",self.name)
        print("age : ",self.age)
        print("mobile : ",self.m)
        print("aadhar : ",self.aadhar)
        print("pan : ",self.pan)
        print("deposit_amount : ",self.d)
        
    def check_deposit(self):
        if self.d >= 6000:
            return True
        else:
            return False
    
    def registration(self):
        if self.check_deposit() == True:
            sub_name = self.name[:2]
            sub_age = self.age[1]
            sub_mobile = self.m[:2] + self.m[:-3:-1]
            sub_aadhar = self.aadhar[2:7]
            sub_pan = self.pan[:2] + self.pan[:-5:-1]
            unique_id = sub_name + sub_age + sub_mobile + sub_aadhar + sub_pan
            print("unique_id : ",unique_id)
            return True
        else:
            print("deposit 6000 or more than 6000 for registration") 
    def pin_no(self):
        if self.registration() == True:
            global pin
            pin = input("enter pin number:")
            return True
    def withdrawal(self):
        if self.pin_no() == True:
            PIN = input("enter pin : ")
            if pin == PIN:
                withdrawal_amount = int(input("enter amount: "))
                if withdrawal_amount <= self.d:
                    return True
                else:
                    return "insufficientamount"
            else:
                return "incorrectpin"

In [2]:
K = bankapplication("kush",21,6304843235,567824365489,"IOKBK8965",6000)

name :  kush
age :  21
mobile :  6304843235
aadhar :  567824365489
pan :  IOKBK8965
deposit_amount :  6000

In [3]:
K.pin_no()

unique_id :  ku1635378243IO5698
enter pin number:2001

True

In [4]:
K.withdrawal()

unique_id :  ku1635378243IO5698
enter pin number:2001
enter pin : 2001
enter amount: 3000

True

# deleting instance variable

In [38]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)

In [39]:
s = student("kush","cse")

name: kush
branch: cse

In [40]:
s.n

'kush'

In [41]:
del s.n

In [42]:
s.n

AttributeError: 'student' object has no attribute 'n'

# change the instance variable

In [43]:
class student:
    college = "JNTU"
    country = "India"
    
    def __init__(self,name,branch):
        self.n = name
        self.b = branch
        print("name:",self.n)
        print("branch:",self.b)

In [44]:
s1 = student("kush","cse")

name: kush
branch: cse

In [48]:
s1.n

'kush'

In [49]:
s1.n = "kushmitha"

In [50]:
s1.n

'kushmitha'