In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("pro.xlsx")

In [3]:
df

      BMI  IsDiabetic
0    33.6           1
1    26.6           0
2    23.3           1
3    28.1           0
4    43.1           1
..    ...         ...
763  32.9           0
764  36.8           0
765  26.2           0
766  30.1           1
767  30.4           0

[768 rows x 2 columns]

In [4]:
ws = []
for i in df["BMI"]:
    if i < 18.5:
        ws.append("Underweight")
    elif (i>= 18.5) & (i<=24.9):
        ws.append("Healthy")
    elif (i>= 25.0) & (i<=29.9):
        ws.append("Overweight")
    elif i>= 30.0:
        ws.append("Obese")

In [5]:
ws

['Obese',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Underweight',
 'Healthy',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Underweight',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Overweight',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Underweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Underweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Healthy',
 'Obese',
 'Overweight',
 'Healthy',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Healthy',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Underweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Healthy',
 'Healthy',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Healthy',
 'Underweight',
 'Overweight',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Healthy',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Overweight',
 'Healthy',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Healthy',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Underweight',
 'Obese',
 'Healthy',
 'Overweight',
 'Healthy',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Underweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Overweight',
 'Overweight',
 'Obese',
 'Overweight',
 'Healthy',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Healthy',
 'Obese',
 'Obese',
 'Overweight',
 'Obese',
 'Obese']

In [6]:
df["Weight_Status"] = ws

In [7]:
df

      BMI  IsDiabetic Weight_Status
0    33.6           1         Obese
1    26.6           0    Overweight
2    23.3           1       Healthy
3    28.1           0    Overweight
4    43.1           1         Obese
..    ...         ...           ...
763  32.9           0         Obese
764  36.8           0         Obese
765  26.2           0    Overweight
766  30.1           1         Obese
767  30.4           0         Obese

[768 rows x 3 columns]

In [8]:
pd.crosstab(df["IsDiabetic"],df["Weight_Status"])

Weight_Status  Healthy  Obese  Overweight  Underweight
IsDiabetic
0                   95    253         139           13
1                    7    219          40            2

In [9]:
pd.crosstab(df["IsDiabetic"],df["Weight_Status"],margins=True,normalize=True)

Weight_Status   Healthy     Obese  Overweight  Underweight       All
IsDiabetic
0              0.123698  0.329427    0.180990     0.016927  0.651042
1              0.009115  0.285156    0.052083     0.002604  0.348958
All            0.132812  0.614583    0.233073     0.019531  1.000000

p(0/Healthy) = 0.93
p(0/Obese) = 0.53
p(0/Overweight) = 0.77

# Types of probs

In [3]:
df = pd.read_csv("tennis.csv")

In [4]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [5]:
pd.crosstab(df["outlook"],df["play"])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [16]:
df1 = pd.crosstab(df["outlook"],df["play"],margins=True,normalize=True)
df1

play            no       yes       All
outlook
overcast  0.000000  0.285714  0.285714
rainy     0.142857  0.214286  0.357143
sunny     0.214286  0.142857  0.357143
All       0.357143  0.642857  1.000000

# Marginal Probabilities

All values are marginal values 
rest are joint probs

- p(no)
- p(yes)
- p(overcast)
- p(rainy)
- p(sunny)

In [25]:
p_no = df1.no.All
p_no

0.35714285714285715

In [26]:
p_yes = df1.yes.All
p_yes

0.6428571428571429

In [27]:
p_overcast = df1.All.overcast
p_overcast

0.2857142857142857

In [28]:
p_rainy = df1.All.rainy
p_rainy

0.35714285714285715

In [29]:
p_sunny = df1.All.sunny
p_sunny

0.35714285714285715

# Joint Probabilities

In [37]:
p_no_oc = df1.no.overcast
p_no_oc

0.0

In [38]:
p_no_r = df1.no.rainy
p_no_r

0.14285714285714285

In [39]:
p_no_s = df1.no.sunny
p_no_s

0.21428571428571427

In [40]:
p_yes_oc = df1.yes.overcast
p_yes_oc

0.2857142857142857

In [41]:
p_yes_r = df1.yes.rainy
p_yes_r

0.21428571428571427

In [42]:
p_yes_s = df1.yes.sunny
p_yes_s

0.14285714285714285

# Conditional probabilities

- p(overcast|no)  p(overcast|yes)
- p(rainy|no)     p(rainy|yes)
- p(sunny|no)     p(sunny|yes)

In [43]:
p_o_given_no = p_no_oc/p_no
p_o_given_no

0.0

In [44]:
p_o_given_yes = p_yes_oc/p_yes
p_o_given_yes

0.44444444444444436

In [45]:
p_r_given_no = p_no_r/p_no
p_r_given_no

0.39999999999999997

In [46]:
p_r_given_yes = p_yes_r/p_yes
p_r_given_yes

0.3333333333333333

In [47]:
p_s_given_no = p_no_s/p_no
p_s_given_no

0.6

In [48]:
p_s_given_yes = p_yes_s/p_yes
p_s_given_yes

0.22222222222222218

In [49]:
p_o_given_no,p_o_given_yes

(0.0, 0.44444444444444436)

In [50]:
p_r_given_no,p_r_given_yes

(0.39999999999999997, 0.3333333333333333)

In [51]:
p_s_given_no,p_s_given_yes

(0.6, 0.22222222222222218)

In [52]:
def prediction(no,yes):
    if no > yes:
        return "no"
    else:
        return "yes"

In [56]:
new_play = []
for i in df["outlook"]:
    if i == "overcast":
        new_play.append(prediction(p_o_given_no,p_o_given_yes))
    elif i == "sunny":
        new_play.append(prediction(p_s_given_no,p_s_given_yes))
    elif i == "rainy":
        new_play.append(prediction(p_r_given_no,p_r_given_yes))

In [57]:
df["new_play"] = new_play

In [58]:
df

     outlook  temp humidity  windy play new_play
0      sunny   hot     high  False   no       no
1      sunny   hot     high   True   no       no
2   overcast   hot     high  False  yes      yes
3      rainy  mild     high  False  yes       no
4      rainy  cool   normal  False  yes       no
5      rainy  cool   normal   True   no       no
6   overcast  cool   normal   True  yes      yes
7      sunny  mild     high  False   no       no
8      sunny  cool   normal  False  yes       no
9      rainy  mild   normal  False  yes       no
10     sunny  mild   normal   True  yes       no
11  overcast  mild     high   True  yes      yes
12  overcast   hot   normal  False  yes      yes
13     rainy  mild     high   True   no       no

So here 70% of the data is accurate