In [2]:
movie_titles = ["gold diggers of broadway","gone baby gone","gone in 60 seconds","gone with the wind","good girl","good burger","goodbye girl","good bye lenin!","goodfellas","good luck chuck","good morning, vietnam"]

In [3]:
len(movie_titles)

11

# 1

In [4]:
movie_titles_upper = []
for i in movie_titles:
    movie_titles_upper.append(i.upper())

In [5]:
movie_titles_upper

['GOLD DIGGERS OF BROADWAY',
 'GONE BABY GONE',
 'GONE IN 60 SECONDS',
 'GONE WITH THE WIND',
 'GOOD GIRL',
 'GOOD BURGER',
 'GOODBYE GIRL',
 'GOOD BYE LENIN!',
 'GOODFELLAS',
 'GOOD LUCK CHUCK',
 'GOOD MORNING, VIETNAM']

In [6]:
movie_titles_lower = []
for i in movie_titles:
    movie_titles_lower.append(i.lower())

In [7]:
movie_titles_lower

['gold diggers of broadway',
 'gone baby gone',
 'gone in 60 seconds',
 'gone with the wind',
 'good girl',
 'good burger',
 'goodbye girl',
 'good bye lenin!',
 'goodfellas',
 'good luck chuck',
 'good morning, vietnam']

In [8]:
movie_titles_title = []
for i in movie_titles:
    movie_titles_title.append(i.title())

In [9]:
movie_titles_title

['Gold Diggers Of Broadway',
 'Gone Baby Gone',
 'Gone In 60 Seconds',
 'Gone With The Wind',
 'Good Girl',
 'Good Burger',
 'Goodbye Girl',
 'Good Bye Lenin!',
 'Goodfellas',
 'Good Luck Chuck',
 'Good Morning, Vietnam']

In [60]:
fruits = ["apple","banana","pear","pineapple"]

# 2

In [11]:
string_remove = []
for i in fruits:
    string_remove.append(i[2:])

In [12]:
string_remove

['ple', 'nana', 'ar', 'neapple']

In [17]:
string_duplicate = []
for i in fruits:
    string_duplicate.append(i*3)

In [18]:
string_duplicate

['appleappleapple',
 'bananabananabanana',
 'pearpearpear',
 'pineapplepineapplepineapple']

In [19]:
#or

In [20]:
string_duplicate = []
for i in fruits:
    string_duplicate.append(i)
    string_duplicate.append(i)
    string_duplicate.append(i)

In [21]:
string_duplicate

['apple',
 'apple',
 'apple',
 'banana',
 'banana',
 'banana',
 'pear',
 'pear',
 'pear',
 'pineapple',
 'pineapple',
 'pineapple']

In [95]:
strings1 = [" 219 733 8965","329-293-8753","banana","595 794 7569","387 287 6718","apple","233.398.9187 ",
           "482 952 3315", "239 923 8115 and 842 566 4692",'Work: 579-499-7527',"$1000" and "Home: 543.355.3679"]

In [23]:
string_trim = []
for i in strings1:
    string_trim.append(i.strip())

In [24]:
string_trim

['219 733 8965',
 '329-293-8753',
 'banana',
 '595 794 7569',
 '387 287 6718',
 'apple',
 '233.398.9187',
 '482 952 3315',
 '239 923 8115 and 842 566 4692',
 'Work: 579-499-7527',
 'Home: 543.355.3679']

In [25]:
#value 1 and value value 7 has spaces at start or end they are deleted after triiming

In [26]:
movie_titles

['gold diggers of broadway',
 'gone baby gone',
 'gone in 60 seconds',
 'gone with the wind',
 'good girl',
 'good burger',
 'goodbye girl',
 'good bye lenin!',
 'goodfellas',
 'good luck chuck',
 'good morning, vietnam']

In [29]:
string_padding = []
for i in movie_titles:
    string_padding.append(i.ljust(30," "))

In [30]:
string_padding

['gold diggers of broadway      ',
 'gone baby gone                ',
 'gone in 60 seconds            ',
 'gone with the wind            ',
 'good girl                     ',
 'good burger                   ',
 'goodbye girl                  ',
 'good bye lenin!               ',
 'goodfellas                    ',
 'good luck chuck               ',
 'good morning, vietnam         ']

# 3

In [61]:
fruits

['apple', 'banana', 'pear', 'pineapple']

In [32]:
string_det = []
for i in fruits:
    string_det.append(i == "apple")

In [33]:
string_det

[True, False, False, False]

In [34]:
string_any_det = []
if "apple" in fruits:
    string_any_det.append("apple")

In [35]:
string_any_det

['apple']

In [77]:
def find_indices(search_list, search_item):
    indices = []
    for (index, item) in enumerate(search_list):
        if item == search_item:
            indices.append(index)

    return indices
string_loc = []
fruits = ["apple","banana","pear","pineapple"]
string_loc.append(find_indices(fruits, 'banana'))
for i in string_loc:
    print(i)

[1]

# 4

In [87]:
str_rep_first = []
for i in fruits:
    str_rep_first.append(i.replace("a","e",1))

In [88]:
str_rep_first

['epple', 'benana', 'peer', 'pineepple']

In [89]:
str_rep_every = []
for i in fruits:
    str_rep_every.append(i.replace("a","e"))

In [90]:
str_rep_every

['epple', 'benene', 'peer', 'pineepple']

# 5

In [96]:
strings1

[' 219 733 8965',
 '329-293-8753',
 'banana',
 '595 794 7569',
 '387 287 6718',
 'apple',
 '233.398.9187 ',
 '482 952 3315',
 '239 923 8115 and 842 566 4692',
 'Work: 579-499-7527',
 'Home: 543.355.3679']

In [126]:
strings2 = []
for i in strings1:
      strings2.append(i.replace("-"," "))

In [127]:
strings2

[' 219 733 8965',
 '329 293 8753',
 'banana',
 '595 794 7569',
 '387 287 6718',
 'apple',
 '233.398.9187 ',
 '482 952 3315',
 '239 923 8115 and 842 566 4692',
 'Work: 579 499 7527',
 'Home: 543.355.3679']

In [130]:
strings4 = []
for i in strings2:
      strings4.append(i.replace("."," "))

In [131]:
strings4

[' 219 733 8965',
 '329 293 8753',
 'banana',
 '595 794 7569',
 '387 287 6718',
 'apple',
 '233 398 9187 ',
 '482 952 3315',
 '239 923 8115 and 842 566 4692',
 'Work: 579 499 7527',
 'Home: 543 355 3679']

In [132]:
strings3 = []
for i in strings4:
    strings3.append(i.strip())

In [133]:
strings3

['219 733 8965',
 '329 293 8753',
 'banana',
 '595 794 7569',
 '387 287 6718',
 'apple',
 '233 398 9187',
 '482 952 3315',
 '239 923 8115 and 842 566 4692',
 'Work: 579 499 7527',
 'Home: 543 355 3679']

In [134]:
listToStr = ' '.join(map(str, strings3))
 
print(listToStr)

219 733 8965 329 293 8753 banana 595 794 7569 387 287 6718 apple 233 398 9187 482 952 3315 239 923 8115 and 842 566 4692 Work: 579 499 7527 Home: 543 355 3679

In [135]:
import re

In [136]:
regex_pattern = r'\d{3}.\d{3}.\d{4}'
digits_list = re.findall(regex_pattern,listToStr)
digits_list

['219 733 8965',
 '329 293 8753',
 '595 794 7569',
 '387 287 6718',
 '233 398 9187',
 '482 952 3315',
 '239 923 8115',
 '842 566 4692',
 '579 499 7527',
 '543 355 3679']

In [139]:
s = []
for i in digits_list:
    s.append(i.split())

In [140]:
s

[['219', '733', '8965'],
 ['329', '293', '8753'],
 ['595', '794', '7569'],
 ['387', '287', '6718'],
 ['233', '398', '9187'],
 ['482', '952', '3315'],
 ['239', '923', '8115'],
 ['842', '566', '4692'],
 ['579', '499', '7527'],
 ['543', '355', '3679']]

In [151]:
s1 = []
for i in s:
    s1.append(i[0])

In [152]:
s1

['219', '329', '595', '387', '233', '482', '239', '842', '579', '543']

In [177]:
s2 = []
for i in s:
    s2.append("".join(i[1]+i[2]))

In [178]:
s2

['7338965',
 '2938753',
 '7947569',
 '2876718',
 '3989187',
 '9523315',
 '9238115',
 '5664692',
 '4997527',
 '3553679']

In [180]:
d = {"l":s1,"k":s2}

In [181]:
import pandas as pd

In [182]:
pd.DataFrame(d)

     l        k
0  219  7338965
1  329  2938753
2  595  7947569
3  387  2876718
4  233  3989187
5  482  9523315
6  239  9238115
7  842  5664692
8  579  4997527
9  543  3553679

In [183]:
str_phone = pd.DataFrame(d)

In [184]:
str_phone.columns = [''] * len(str_phone.columns)

In [185]:
str_phone

0  219  7338965
1  329  2938753
2  595  7947569
3  387  2876718
4  233  3989187
5  482  9523315
6  239  9238115
7  842  5664692
8  579  4997527
9  543  3553679